@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

.welcomeMessage {
  font-size: 2rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem 0;
  width: 100%;
  color: #212545;

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 3rem;
  font-style: normal;
}
