@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

.welcomeMessage {
  font-size: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
  padding: 92px 8px 68px 8px;

  margin: 2rem 0;
  width: 100%;
  color: #212545;

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 3rem;
  font-style: normal;
}
